---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 2
ColumnLimit: 120
PointerAlignment: Right
ReferenceAlignment: Pointer
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
BreakTemplateDeclarations: Yes
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^"'
    Priority: 1
  # JUCE, generated JUCE headers and other third-party libraries
  - Regex: '^<(juce_|webui_assets\.h|catch2/)'
    Priority: 2
  # Standard library
  - Regex: '^<'
    Priority: 3
InsertNewlineAtEOF: true
